In [2]:
import keras
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df=pd.read_csv('train.csv')
df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
x_train=df.drop(['label'],axis='columns')
y_train=df['label']
y_train

0        1
1        0
2        1
3        4
4        0
5        0
6        7
7        3
8        5
9        3
10       8
11       9
12       1
13       3
14       3
15       1
16       2
17       0
18       7
19       5
20       8
21       6
22       2
23       0
24       2
25       3
26       6
27       9
28       9
29       7
        ..
41970    2
41971    3
41972    4
41973    4
41974    3
41975    9
41976    2
41977    4
41978    4
41979    4
41980    7
41981    2
41982    8
41983    7
41984    3
41985    3
41986    0
41987    5
41988    0
41989    5
41990    3
41991    1
41992    9
41993    6
41994    4
41995    0
41996    1
41997    7
41998    6
41999    9
Name: label, Length: 42000, dtype: int64

In [5]:
test=pd.read_csv('test.csv')
test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
x_train=x_train/255
text=test/255
test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
from keras.models import Sequential
from keras.layers import Dense,Activation,Flatten

In [8]:
model=Sequential()

In [9]:
model.add(Dense(32,input_dim=784))
model.add(Dense(500,activation='relu'))
model.add(Dense(10,activation='softmax'))

In [10]:
model.compile(loss='sparse_categorical_crossentropy',
             optimizer='adam',
             metrics=['accuracy'])

In [11]:
x_train.shape

(42000, 784)

In [12]:
model.fit(x_train,y_train,epochs=10)

Epoch 1/10
42000/42000 [==============================] - 3s 83us/step - loss: 0.3033 - acc: 0.9090
Epoch 2/10
42000/42000 [==============================] - 2s 59us/step - loss: 0.1449 - acc: 0.9553
Epoch 3/10
42000/42000 [==============================] - 2s 59us/step - loss: 0.1089 - acc: 0.9662
Epoch 4/10
42000/42000 [==============================] - 3s 60us/step - loss: 0.0880 - acc: 0.9718
Epoch 5/10
42000/42000 [==============================] - 2s 59us/step - loss: 0.0709 - acc: 0.9777
Epoch 6/10
42000/42000 [==============================] - 3s 60us/step - loss: 0.0629 - acc: 0.9793
Epoch 7/10
42000/42000 [==============================] - 3s 60us/step - loss: 0.0504 - acc: 0.9838
Epoch 8/10
42000/42000 [==============================] - 2s 59us/step - loss: 0.0450 - acc: 0.9852
Epoch 9/10
42000/42000 [==============================] - 3s 60us/step - loss: 0.0389 - acc: 0.9872
Epoch 10/10
42000/42000 [==============================] - 3s 60us/step - loss: 0.0363 - acc: 0.9881

In [13]:
yp=model.predict([test])
yp[0]

array([0., 0., 1., 0., 0., 0., 0., 0., 0., 0.], dtype=float32)

In [14]:
test.shape

(28000, 784)

In [15]:
sample=pd.read_csv('sample.csv')

In [16]:
sample=sample.drop(['Label'],axis='columns')

In [17]:
sample.head()

   ImageId
0        1
1        2
2        3
3        4
4        5

In [18]:
sample.shape

(28000, 1)

In [19]:
yp.shape

(28000, 10)

In [28]:
np.argmax(yp[4])

3

In [21]:
array = np.arange(28000)
for i in range(0,28000):
    array[i]=np.argmax(yp[i])

In [22]:
array

array([2, 0, 9, ..., 3, 9, 2])

In [23]:
sample['Label']=array

In [25]:
array.shape

(28000,)

In [29]:
sample.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      9
4        5      3

In [30]:
sample.to_csv('predictions.csv',index=False)